.bckgrnd {
  background-color: silver;
}
h1{
  font-size: 10px;
  text-align: left;
  font-style: normal;
  font-family: fantasy;
  
}
.important{
float:left;
border-radius: 45%;
width: 350px;
height:450px;
padding-right: 0.5em;
margin-right: 5em;
margin-top: 1em;

}
h2{
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-top: 4.5em;
  margin-bottom: 0.5em;

}
.emoji{
  border-radius: 50%;
  width:50px;
  height:50px;

}
.sidebar{
  font-size: 75px;
  font-family: sans-serif;
  color:white;
  width:99%;
  float:left;
  background-color:#273746 ;
  padding: left;
  padding: 0.05em;
  margin:0.09em;

}
.sidebar2{
  font-size: 30px;
  font-family: Times ;
  width:99%;
  float:left;
  background-color: grey;
  padding:left;
  padding: 0.05em;
  margin:0.05em;

}
#font {
  font-size: 25px;
  column-count: 2;
  column-gap: 50px;
  column-width: 50px;
  column-fill: balance;

}
.unimportant{
  font-size: 23px;
  column-count: 1;
  margin-top: -1.5em;

}
.right{
  font-size: 20px;
  float:right;
  width: 20%;
  border-style: outset;
  background-color:#273746 ;
  text-align: right;
  font-style: normal;
  padding:0.1em;
  margin: 2em;
  margin-top: 10em;

}
.gif1{
  float: left;
  width: 100px;
  height: 100px;
  padding: 5em;

}
.gif2{
  float: left;
  width: 100px;
  height: 100px;
  padding: 5em;

}
.gif3{
  float: left;
  width: 100px;
  height: 100px;
  padding: 5em;

}
